<ul>
<% @contact.addresses.each do |address| %>
<li><%= address.type() %>:<br> <%= address.street() %><br><%= address.city() %>, <%= address.state() %> <%= address.zip() %></li>
<% end %>
</ul>

<a href="/contact_list/<%= @contact.id() %>">Return to <%= @contact.first%> <%= @contact.last%></a>
