<ul>
<% @contact.phones.each do |phone| %>
<li><%= phone.type() %>: (<%= phone.area_code() %>) <%= phone.number() %></li>
<% end %>
</ul>

<a href="/contact_list/<%= @contact.id() %>">Return to <%= @contact.first%> <%= @contact.last%></a>
