<h2>Success! You entered a new email address for <%= @contact.first %> <%= @contact.last %></h2>

<a href="/contact_list/<%= @contact.id %>">View contact information for <%= @contact.first %> <%= @contact.last %></a>
<br>
<a href="/contact_form">Create new contact</a>
<br>
<a href="/contact_list">View contact list</a>
